.btn-reset-pass {
  background-color: #1a8e98;
  border: none;
}
.success-circle {
  font-size: 80px;
  color: #15884e;
}
.state-message {
  font-size: 15px;
  padding-bottom: 5px;
}
.success-wrap,
.reset-wrap {
  margin-top: 50px;
}
